{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-jsx-source"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-react-jsx-source",
        "dynamic-import-node"
      ]
    }
  }
}
